{% extends 'dashboard/nav-bar.html' %}


{% block content %}

<div style="margin: 20px;">
  <h1>Configure</h1>

  <center>
    <a href="{% url 'create_firewall' %}">
      <button type="button" class="btn btn-primary" style="background-color:#0192d0; margin: 10px;">
        <i class="material-icons">add</i></button>
    </a>
    <div class="table-responsive">
      <table class="table table-dark table-hover" style="  border-radius: 6px;">
        <tr>
          <b>
            <td>Prem code</td>
            <td>Hostname</td>
            <td>Vendor</td>
            <td>Last updated</td>
            <td>Edit FW</td>
            <td>Remove FW</td>
          </b>
        </tr>
        {% for firewall in firewalls %}
        <tr>
          <td>{{ firewall.premise_code }}</td>
          <td>{{ firewall.hostname }}</td>
          <td>{{ firewall.vendor }}</td>
          <td>{{ firewall.date_created }}</td>
          <td><a href="{% url 'update_firewall' firewall.id %}"><button type="button" class="btn"><span><i
                    class="material-icons">mode_edit</i></span></button></a></td>
          <td><a href="#"><button type="button" class="btn"><i class="material-icons">delete</i></button></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </center>
</div>


{% endblock %}