{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <meta name="Dashboard" content="Dash page">
  <link rel="stylesheet" href="{% static 'dashboard/nav-bar.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'dashboard/nav-bar.js' %}"></script>
</head>

<body>

  {% include 'dashboard/nav-bar.html' %}

  {% block content %}

 <div style="margin: 20px;">
  <center>
    <h1>Dashboard</h1>
    <div class="table-responsive">
      <table class="table table-dark table-hover">
        <tr>
          <td >Vendor</td>
          <td >Hostname</td>
          <td >Mgmt-IP</td>
          <td >Prem code</td>
          <td >Version</td>
          <td >Active</td>
          <td >Date added</td>
          <td >Edit FW</td>
          <td >Remove FW</td>
        </tr>
        {% for firewall in firewalls %}
        <tr>
          <td >{{ firewall.vendor }}</td>
          <td >{{ firewall.hostname }}</td>
          <td >{{ firewall.mgmt_ip }}</td>
          <td >{{ firewall.premise_code }}</td>
          <td >{{ firewall.software_version }}</td>
          <td >{{ firewall.state }}</td>
          <td >{{ firewall.date_created }}</td>
          <td ><a href="#"><button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button></a></td>
          <td ><a href="#"><button type="button" class="btn"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </center>
</div>
  <button class="btn" type="button" style="background-color:#0192d0;">Get firewall data</button>

  {% endblock %}

</body>