{% extends 'dashboard/nav-bar.html' %}

{% block content %}

<div style="margin: 20px;">
  <h1>Dashboard</h1>
  <center>
    <a href="{% url 'configure' %}">
      <button class="btn" type="button" style="background-color:#0192d0; margin: 10px;">Add firewall</button>
    </a>
    <div class="table-responsive">
      <table class="table table-dark table-hover" style="  border-radius: 6px;">
        <tr>
          <b>
            <td>Prem code</td>
            <td>Hostname</td>
            <td>Mgmt-IP</td>
            <td>Version</td>
            <td>Vendor</td>
            <td>Active</td>
          </b>
        </tr>
        {% for firewall in firewalls %}
        <tr>
          <td>{{ firewall.premise_code }}</td>
          <td>{{ firewall.hostname }}</td>
          <td>{{ firewall.mgmt_ip }}</td>
          <td>{{ firewall.software_version }}</td>
          <td>{{ firewall.vendor }}</td>
          <td>{{ firewall.state }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </center>
</div>
{% endblock %}